{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
  <div class="bg-light text-right">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4 title-brand">عن المنظمة</h1>
          <p class="lead text-muted mb-0 text-justify ar-font">مجموعة من اساتذة الجامعات و من مختلف الطوائف و الأقليات جمعتنا الظروف و من غير موعد لنشكل لجنة لمكافحة المخدرات ، تلك الآفة التي تعصف بالعراق بشبابه و شاباته لنجد نفسنا أمام محنة تحتاج الى العمل لإيقاف التدهور في انتشار تلك الآفة ، وها نحن نجتمع لنبني صرح حضاري وهي منظمة نورسين للتوعية و التنمية لتكون سدا منيعاً ضد كل من افة المخدرات ، الانتحار ، ظاهرة التحرش ، و الابتزاز الإلكتروني .... وغيرها ...
و هنا حان الوقت ليتحالف من احب العراق بصدق لتنمو تلك الشجرة الصغيرة و لتكبر و تطرح ثمارها بعد مباركة الامانه العامة لمجلس الوزراء لها لتكون ضمن (( 1L1908007)) شجرة تحمي العراق و العراقيين من مخاطر الشر الذي يريد تدمير نواة الأسرة العراقية</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="{% static 'img/norsin_logo.jpg' %}" alt="" width='350' height='350' class="img-fluid"></div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">About The Organization</h2>
          <p class="font-italic text-muted mb-4">The organization was formed by a number of Iraqi academics and doctors from various Iraqi universities, honorable Iraqis who did not want to remain silent about what is happening in Iraq.
We are the first local organization with its internal system to include plans and programs to raise awareness and conduct scientific research to counter the drug scourge.
The programmer of the relevant entities have changed from promotional awareness to medical awareness of the dangers of NACROTIC in Iraq</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{% static 'img/norsin_logo.jpg' %}" alt="" width='350' height='350' class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      {% comment %} <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2>
          <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div> {% endcomment %}
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light title-brand">شركاؤنا</h2>
          {% comment %} <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> {% endcomment %}
        </div>
      </div>
      <div class="row align-items-center text-center ar-font">

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/imh.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">وزارة الصحة</h5>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/MOH.GOV.IQ/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mi.png' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">وزارة الداخلية</h5>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/Iraqi.Ministry.of.Interior/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/me.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">وزارة التربية والتعليم</h5>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/iraq2moedu/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mhesr.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">وزارة التعليم العالي والبحث العلمي</h5>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/Ministry.Official.Page/" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light title-brand">الاعضاء</h2>
          {% comment %} <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> {% endcomment %}
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/mustafa_altaie.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Mustafa A.K. Al-Taie</h5><span class="small text-uppercase text-muted">The head of the organization & Chairman of Board of Directors</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/mustaffal.taie" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/osama_ismail.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Osama Ismail Awad</h5><span class="small text-uppercase text-muted">Vice-President of the Organization</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'images/ammar_jumaah.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Ammar Jumaah Oleiwi</h5><span class="small text-uppercase text-muted">Deputy Chairman of the Board</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        {% comment %} <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div> {% endcomment %}
        <!-- End-->

      </div>
    </div>
  </div>
</div>

{% endblock content %}
