<header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="search-area ml-auto">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 text-right">
            <form action="{% url 'search' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="search" name="q" id="search" placeholder="ما الذي تبحث عنه؟">
                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <!-- Navbar Brand -->
        <a href="/" class="navbar-brand title-brand">منظمة نورسين للتوعية والتنمية</a>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link ">الرئيسية</a>
          </li>
          <li class="nav-item"><a href="{% url 'blogs' %}" class="nav-link active ">الاخبار</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'post_create' %}" class="nav-link ">اضافة خبر</a>
          </li>
          {% endif %}
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link ">عن المنظمة</a>
          <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link ">الاتصال بنا</a>
            {% if user.is_authenticated %}
              <li class="nav-item"><a href="#" class="nav-link ">مرحبا {{ user.username |upper }}</a>
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link ">تسجيل الخروج</a>
            {% endif %}

          </li>
        </ul>
        <div class="navbar-text">
          <a href="#" class="search-btn">
            <i class="icon-search-1">
            </i>
          </a>
        </div>

        {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> {% endcomment %}
      </div>
    </div>
  </nav>
  <!--Show Alert Messages-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</header>
